
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

#others
/.idea/
/node_modules/
/temp/
/docker/database/data
/docker/certbot/conf
/docker/certbot/.well-known
/docker/logs/
/dev/
/.env
/.env.dev
/.env.prod
/.yarn/
.yarnrc
