@import "variables";

.main-block {
    padding-top: $header-height;
    padding-left: $left-menu-width;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 100px;
}

.view-container {
    display: block;
    padding: 1em;
}

.view-title {
    display: block;
    border-bottom: 1px solid lighten(#000, 80%);
}

.component {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0 auto 1em;
    min-height: 300px;
}

.charts-types {
    margin: 1em 0;
}

.views {
    img {
        max-width: 100%;
    }
}

#user-info {
    .views {
        img {
            border-radius: 50%;
        }
    }
}

.form {
    form {
        span {
            display: block;
        }

        input {
            padding: .2em .4em;
            border: 0;
            box-shadow: none;
            border-radius: .5em;
            background: #dadada;
            margin: .5em 0;
        }

        button {
            padding: .2em .4em;
            margin: .5em;
            box-shadow: none;
            border-radius: .5em;
            background: #ffffff;
            //color: #000;
            border: 1px solid #000;

            &:hover {
                background: #598bff;
                border: 1px solid #598bff;
                color: #fff;
            }
        }
    }
}

.form-group {
    &--error {
        &-text {
            display: none;
            color: red;
            margin-top: 0;
            font-size: .85em;
        }
    }

    &--error &--error-text {
        display: block;
    }

    input.error {
        border: 1px solid red;
    }
}

.statistic-btn-time {
    &:hover {
        background-color: #dcdcdc;
    }
}

//channel

.channel-list {
    margin-bottom: 2em;
    background: mistyrose;

    select {
        color: #444;
        padding: .6em 1.4em .5em .8em;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 2px solid #ffe4e1;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #ffffff;
        outline: none;
    }
}

.chart-wrap {
    display: flex;
    flex-wrap: wrap;
}

.chart {
    border: 1px solid lighten(#000, 80%);
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

    &-title {
        margin-bottom: 1em;
        border-bottom: 1px solid #cacaca;

        span {
            font-size: 1.2em;
        }
    }
}