.home-view {
    &_col {
        height: fit-content;
        margin-top: 1em;
    }
}

.user-block {
    padding: 10px;
    margin-bottom: 1em;
    background: mistyrose;

    p {
        margin: 0;
        font-size: 1.4em;
    }
}

.channel-home {
    display: block;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: mistyrose;
    min-width: 240px;
    max-width: 320px;

    &_title {
        display: block;
        margin-bottom: 0.5em;
    }

    &_counters {
        display: block;
    }

    &.deactivated {
        background-color: #cecece;
    }

    a, span, img {
        display: block;
    }

    img {
        max-width: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
}

.kd-frame {
    display: block;
    border: 1px solid;
    min-height: 200px;
}