@import "variables";
@import "media_mixin";

.left-menu-block {
    position: fixed;
    z-index: 1;
    top: $header-height;
    width: $left-menu-width;
    height: calc(100% - #{$header-height});
    background-color: $header-bg;

    ul {
        margin: 1em;
        padding: 0;

        li {
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }

    @include max_979 {
        display: none;
    }
}
