@import "media_mixin";
@import "variables";

.main-page {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #4332a2, #318dd8);
}

.page {
    display: flex;
    padding-top: 70px;
    background-color: #3e63c4;
    min-height: 100vh;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;

    &-text {
        display: block;
        margin-bottom: 3em;
        text-align: center;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.5em;
        }
    }

    &-btn {
        display: flex;

        .btn {
            text-decoration: none;
            display: block;
            border: 1px solid #101010;
            border-radius: 0;
            padding: 2em 2.2em;
            color: #000;
            transition: background-color .2s;

            &:hover, &:active {
                background-color: lighten(#3a5fbd, 2%);
                color: #000;
            }

            @include max_480 {
                padding: 1em 1.2em;
            }
        }
    }

    &-policy {
        margin: 0 auto;
        padding: 10px;
        font-size: 0.8em;
        max-width: 380px;
        text-align: center;

        a {
            text-decoration: underline;
            text-transform: initial;
        }
    }
}