@import "variables";

.main-page {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #4332a2, #318dd8);
}

.page {
    display: flex;
    padding-top: 70px;
    background-color: #3e63c4;
    height: 100vh;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;

    &-text {
        display: block;
        margin-bottom: 3em;
        text-align: center;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.5em;
        }
    }

    &-btn {
        display: flex;

        a {
            text-decoration: none;
            display: block;
            //border-radius: 1em;
            //background-color: #0069cc;
            border: 1px solid #101010;
            padding: 2em 2.2em;
            color: #000;
            transition: background-color .2s;

            &:hover, &:active {
                background-color: lighten(#3a5fbd, 2%);
                color: #000;
            }
        }
    }
}