.user-settings {
    .user-channels-list {
    }
}

.user-channel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;

    &_field {
        margin: 5px 10px;

        span {
            margin-right: 5px;
        }

        label {
            display: flex;
            align-items: center;
            margin: 0;
            width: 100%;

            @include max_480 {
                justify-content: space-between;
            }
        }
    }

    &_avatar {
        width: 50px;

        img {
            width: 50px;
            border-radius: 50%;
        }
    }

    &_title {
        width: 180px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &_param-active {
        width: 132px;
    }

    @include max_480 {
        flex-direction: column;
        align-items: start;
    }
}

.user-info {
    margin-bottom: 2em;

    &_field {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    &_pre-title {
        display: flex;
        width: 160px;
        margin-right: 10px;
        font-size: 1.1em;
    }

    &_title {
        display: flex;
        font-size: 1.2em;
    }
}
