// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Links
$link-color: #000000;

// Body
$body-bg: #f8fafc;
$left-menu-width: 200px;

//Header
$header-bg: #c1daf7;
$header-height: 70px;
$logo-bg: #add3ff;

// Components
$componentBckgnd: #efefef;
