{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="reset-password-page page">
        <div class="container">
            <div class="content">
                <p>Письмо с ссылкой для восстановления отправлено на ваш адрес.
                    Ссылка действительна в течение {{ tokenLifetime|date('g') }} часа.</p>
                <p>Если вы не получили письмо проверьте папку со спамом или запросите письмо <a
                            href="{{ path('app_forgot_password_request') }}">ещё раз</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
