{% extends 'base.html.twig' %}

{% block title %}Восстановить пароль{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="reset-password-page page">
        <div class="container">
            <div class="content">
                <h1>Восстановить пароль</h1>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
