{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="about-page page">
        <div class="container">
            <div class="content">
                <h1>О проекте</h1>
                <div></div>
            </div>
        </div>
    </div>

{% endblock %}
