{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="about-page page">
        <div class="container">
            <div class="content">
                <h1>О проекте</h1>
                <div>
                    <p>Привет! Вы находитесь на сайте <b>cublytics.ru</b>, сервисе по сбору статистики просмотров,
                        лайков и других данных каналов на сайте coub.com. Собираются только открытые данные, посредством
                        API сервиса Coub, за исключением данных необходимых для регистрации и подтверждения
                        авторизации.</p>
                    <p>Сервис начинает собирать статистику начиная с момента регистрации, т.е. статистику за предыдущее
                        время увидеть нельзя. Также статистика отображается только для каналов авторизованного
                        пользователя, узнать статистику чужого канала не получится.</p>
                    <p>Данный сервис с одной стороны является учебным для изучения новых технологий, а с другой выражает
                        давнее желание реализовать недостающий функционал всеми известного сервиса coub.com</p>
                    <p>Данный сервис в раннем доступе и всё ещё находится в стадии разработки, поэтому возможно
                        появление ошибок.</p>
                    <p>По обнаруженным ошибкам, а также по вопросам сотрудничества, можете писать на почту
                        <a class="default-link" href="mailto:cublytics@yandex.ru">cublytics@yandex.ru</a>, во
                        <a class="default-link" href="https://vk.com/atomicavgust" target="_blank"
                           rel="noreferrer noopener">Вконтакте</a>, либо в личку на
                        <a class="default-link" href="https://coub.com/avgust.digital" target="_blank"
                           rel="noreferrer noopener">COUB</a> (но там редко бываю).</p>
                    <p>На чём всё работает:</p>
                    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <img src="{{ asset('build/img/symfony-logo.png') }}" alt=""
                             style="height: 100px; width: auto; margin: 10px;">
{#                        <span style="margin: 10px; font-weight: bold; font-size: 32px;">+</span>#}
                        <img src="{{ asset('build/img/vue-logo.png') }}" alt=""
                             style="height: 100px; width: auto; margin: 10px;">
                        <img src="{{ asset('build/img/docker-logo.png') }}" alt=""
                             style="height: 100px; width: auto; margin: 10px;">
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
