{% extends 'base.html.twig' %}

{% block title %}
Admin
{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="about-page">
        <div class="container">
            <br><br><br>
            <h1>админ</h1>
        </div>
    </div>


{% endblock %}

