{% extends 'base.html.twig' %}

{% block title %}Согласие на обработку персональных данных{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="about-page page">
        <div class="container">
            <div class="content">
                <h1>Согласие на обработку персональных данных</h1>
                <div>
                    <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ &laquo;О персональных данных&raquo; от 27.07.2006 года Вы подтверждаете свое согласие на обработку сайтом cublytics.ru (далее &ndash; Сайт) персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.</p>
                    <p>&nbsp;</p>
                    <p>Сайт гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых Сайтом в качестве обязательных к исполнению.</p>
                    <p>&nbsp;</p>
                    <p>В случае необходимости предоставления Ваших персональных данных правообладателю, дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на ваше имя, вы даёте согласие на передачу ваших персональных данных. Сайт гарантирует, что правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
                    <p>&nbsp;</p>
                    <p>Настоящее согласие распространяется на следующие Ваши персональные данные:</p>
                    <p>Логин и другие персональные данные полученные с сервиса Coub,</p>
                    <p>адрес электронной почты.</p>
                    <p>&nbsp;</p>
                    <p>Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес нашего магазина с пометкой &laquo;Отзыв согласия на обработку персональных данных&raquo;.</p>
                    <p>&nbsp;</p>
                    <p>Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (https://cublytics.ru), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных Сайта, что может сделать невозможным пользование Сайта.</p>
                    <p>&nbsp;</p>
                    <p>Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.</p>
                    <p>&nbsp;</p>
                    <p>Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
                    <p>&nbsp;</p>
                    <p>Администрация Сайта оставляет за собой право изменять или дополнять Соглашение в любое время без согласования с Пользователем, или ограничить доступ к использованию сайта для Пользователя.</p>
                    <p>&nbsp;</p>
                    <p>Вся информация на сайте предоставлена в качестве ознакомления и носит сугубо информационный характер. Вся информация на сайте не является публичной офертой.</p>
                    <p>Администрация ресурса имеет право ограничить доступ к сайту для любого пользователя без объяснения причины.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
