{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="main-page">
        <div class="container">
            <div class="welcome">
                <div class="welcome-text">
                    <h1>Добро пожаловать</h1>
                    <p>на сервис отслеживания статистики вашего coub-канала</p>
                </div>
                <div class="welcome-btn">
                    <a href="{{ path('app_login_coub') }}">
                        Войти с помощью COUB
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
