{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="header">
        <div class="logo"></div>
        <div class="top-menu">
            <div class="top-left links">
                <a href="/" class="top-menu-link">Главная</a>
            </div>
            <div class="top-right links">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('spa') }}" class="top-menu-link">Кабинет</a>
                    <a href="{{ path('app_logout') }}" class="top-menu-link">Выйти</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="top-menu-link">Войти</a>
                    <a href="{{ path('app_register') }}" class="top-menu-link">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="example-wrapper">
        <h1>Добро пожаловать!</h1>

    </div>
{% endblock %}
