{% extends 'base.html.twig' %}

{% block title %}Правила пользования сайтом{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="about-page page">
        <div class="container">
            <div class="content">
                <h1>Правила пользования сайтом cublytics.ru</h1>
                <div>
                    <p>Настоящие Правила пользования (далее &ndash; Правила) регулируют отношения, возникающие между Администрацией (далее &ndash; Администрация) и Пользователями интернет площадки (далее &ndash; Пользователи), зарегистрированными по адресу: cublytics.ru (далее &ndash; Сайт).</p>
                    <p>&nbsp;</p>
                    <p>После заполнения обязательных полей при регистрации на сайте и ознакомления с Правилами, Пользователь присоединяется к настоящим условиям, что по смыслу ст. 435 и 438 Гражданского кодекса РФ является принятием (акцептом) оферты Администрации, а равно заключением соглашения, порождающего у Пользователя обязанности соблюдать Правила.</p>
                    <p>&nbsp;</p>
                    <p>Фактическое использование Сайта без регистрации аккаунта в форме, также является акцептом настоящих Правил.</p>
                    <p>&nbsp;</p>
                    <p>1. Термины, используемые в настоящих Правилах</p>
                    <p>&nbsp;</p>
                    <p>1.1. Настоящий Сайт создавался и используется для сбора статистики из открытых данных с использованием программного обеспечения администрации Сайта.</p>
                    <p>&nbsp;</p>
                    <p>1.2. Сайт предоставляется пользователю на бесплатной основе и предназначен исключительно для личного использования. Для использования Сайта иными способами и для других целей пользователю необходимо предварительно получить письменное согласие от администрации Сайта на такое использование.</p>
                    <p>&nbsp;</p>
                    <p>1.3. Пользователь Сайта (далее &ndash; Пользователь) &ndash; лицо, зарегистрированное на Сайте.</p>
                    <p>&nbsp;</p>
                    <p>1.4. Контент &ndash; размещенные на Сайте тексты, элементы дизайна, иллюстрации, графические изображения, фотографии, скрипты, видео-, аудио-, музыкальные произведения, звуки и другие объекты, являющиеся интеллектуальной собственностью, или не являющиеся таковыми, права на которые принадлежат Администрации, Пользователям или иным лицам.</p>
                    <p>&nbsp;</p>
                    <p>1.5. Аккаунт Пользователя (далее - Аккаунт) &ndash; учетная запись Пользователя, создаваемая в момент регистрации на Сайте, позволяющая Администрации идентифицировать (авторизовать) каждого Пользователя посредством уникального логина и пароля. Логин и пароль для доступа к аккаунту определяются Пользователем самостоятельно после регистрации на Сайте.</p>
                    <p>&nbsp;</p>
                    <p>1.6. Персональная страница &ndash; раздел Сайта, содержащий часть размещаемой в аккаунте Пользователя информации, получаемой посредством интеграции со сторонними сервисами, недоступной для ознакомления иным Пользователям. Персональная страница используется Пользователем в целях ознакомления с собираемой статистикой, настройкой личного аккаунта и осуществления иных действий.</p>
                    <p>&nbsp;</p>
                    <p>2. Общие положения</p>
                    <p>&nbsp;</p>
                    <p>2.1. Настоящие Правила пользования Сайтом разработаны Администрацией и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации. Правила распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.</p>
                    <p>&nbsp;</p>
                    <p>2.2. Настоящие Правила являются обязательным соглашением между Пользователями и Администрацией, предметом которого является предоставление Администрацией Пользователю доступа к использованию Сайта и его функционала.</p>
                    <p>&nbsp;</p>
                    <p>2.3. Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Правил в соответствии со ст. 438 Гражданского кодекса РФ.</p>
                    <p>&nbsp;</p>
                    <p>2.4. Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет по адресу: cublytics.ru. Администрация рекомендует Пользователям регулярно проверять условия Правил на предмет их изменения и/или дополнения. Использование Сайта после внесения изменений и/или дополнений в Правила означает принятие Пользователем этих изменений и/или дополнений.</p>
                    <p>&nbsp;</p>
                    <p>2.5. Права на Сайт в целом и на использование сетевого адреса (доменного имени) cublytics.ru принадлежат Администрации. Администрация предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и нормами действующего законодательства РФ.</p>
                    <p>&nbsp;</p>
                    <p>2.6. Правилами установлены условия, в соответствии с которыми права на использование информации и интеллектуальной собственности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут принадлежать Пользователям Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без непосредственного участия Администрации Сайта.</p>
                    <p>&nbsp;</p>
                    <p>3. Права и обязанности Сторон</p>
                    <p>&nbsp;</p>
                    <p>3.1. Права и обязанности Администрации:</p>
                    <p>&nbsp;</p>
                    <p>3.1.1. Администрация осуществляет текущее управление Сайтом, определяет ее структуру, внешний вид, разрешает или ограничивает доступ Пользователей к Сайту при нарушении положений настоящих Правил, осуществляет иные принадлежащие ей права.</p>
                    <p>&nbsp;</p>
                    <p>3.1.2. Администрация самостоятельно решает вопросы о порядке размещения на Сайте рекламы, участия в партнерских программах и т.д.</p>
                    <p>&nbsp;</p>
                    <p>3.1.3. Администрация имеет право:</p>
                    <p>&nbsp;</p>
                    <p>&middot; в любое время изменять оформление и пользовательский интерфейс Сайта, его содержание, предоставляемые функции, изменять или дополнять используемые скрипты, программное обеспечение, контент Администрации и другие объекты, используемые или хранящиеся на Сайте, любые Приложения и серверные приложения, с уведомлением Пользователей или без такового;</p>
                    <p>&nbsp;</p>
                    <p>&middot; удалять без предупреждения контент, который по усмотрению Администрации нарушает и/или может нарушать законодательство РФ, положения настоящих Правил, права Пользователей или третьих лиц, причинять им вред или угрожать безопасности;</p>
                    <p>&nbsp;</p>
                    <p>&middot; по своему усмотрению удалять любую информацию, в том числе размещаемую Пользователем на Сайте с нарушением норм законодательства РФ или положений настоящих Правил;</p>
                    <p>&nbsp;</p>
                    <p>&middot; удалять аккаунт Пользователя по своему усмотрению, в том числе, в случае совершения Пользователем действий, нарушающих законодательство РФ или положения настоящих Правил;</p>
                    <p>&nbsp;</p>
                    <p>&middot; в целях сбора статистических данных и идентификации Пользователя устанавливать и сохранять информацию об IP-адресах доступа Пользователя на Сайт, использовать файлы технической информации (cookies), размещаемые на персональном компьютере Пользователя;</p>
                    <p>&nbsp;</p>
                    <p>&middot; при использовании Сайта делать замечания Пользователям, предупреждать, уведомлять, информировать их о несоблюдении настоящих Правил. Указания Администрации, данные Пользователю во время процесса использования Сайта, обязательны для исполнения Пользователем;</p>
                    <p>&nbsp;</p>
                    <p>&middot; предпринимать не запрещенные законом меры для защиты собственных интеллектуальных прав в отношении Сайта;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&middot; При регистрации пользователя посредством стороннего сервиса, получать информацию пользователя со стороннего сервиса посредством методов предусмотренным сторонним сервисом;</p>
                    <p>&nbsp;</p>
                    <p>&middot; Администрация не занимается рассмотрением и разрешением споров и конфликтных ситуаций, возникающих между Пользователями или третьими лицами, разместившими на Сайте информацию, однако по своему усмотрению может содействовать в разрешении возникших конфликтов. Администрация вправе приостановить, ограничить или прекратить доступ Пользователя на сайт в случае получения от другого Пользователя мотивированной жалобы на некорректное или противоправное поведение конкретного Пользователя на Сайте.</p>
                    <p>&nbsp;</p>
                    <p>3.1.4. Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта по всем вопросам функционирования Сайта могут быть направлены по адресу: webmaser@cublytics.ru либо cublytics@yandex.ru</p>
                    <p>&nbsp;</p>
                    <p>3.1.5. Пользователь не имеет права использовать фирменное наименование, товарный знак, доменное имя и иных отличительных знаки Администрации. Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрация может предоставить заинтересованной стороне только на основании письменной договоренности.</p>
                    <p>&nbsp;</p>
                    <p>4.1. Права и обязанности Пользователя</p>
                    <p>&nbsp;</p>
                    <p>4.1.1. Пользователь вправе:</p>
                    <p>&nbsp;</p>
                    <p>&middot; просматрить в аккаунте Пользователя информацию о себе;</p>
                    <p>&nbsp;</p>
                    <p>&middot; изменять настройки аккаунта Пользователя, устанавливать и менять данные доступа;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять иные, не запрещенные законодательством РФ или настоящими Правилами действия, связанные с использованием Сайта.</p>
                    <p>&nbsp;</p>
                    <p>4.1.2. При использовании Сайта Пользователь обязан:</p>
                    <p>&nbsp;</p>
                    <p>&middot; соблюдать положения действующего законодательства РФ, настоящих Правил и иных специальных документов Администрации Сайта;</p>
                    <p>&nbsp;</p>
                    <p>&middot; предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;</p>
                    <p>&nbsp;</p>
                    <p>&middot; самостоятельно предпринимать должные меры, обеспечивающие безопасность своего аккаунта и персональной страницы и предотвращающие несанкционированный доступ к ним третьих лиц (в частности, следить за тем, чтобы пароль не сохранялся в браузере, в том числе при использовании технологии cookies, при возможном использовании компьютерного устройства Пользователя третьими лицами, при регистрации выбирать пароль достаточной сложности, чтобы избегать возможность его подбора третьими лицами);</p>
                    <p>&nbsp;</p>
                    <p>&middot; информировать Администрацию о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя;</p>
                    <p>&nbsp;</p>
                    <p>&middot; не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной содержащейся на ней информации в случае, если это может привести к нарушению законодательства РФ и/или настоящих Правил, специальных документов Администрации;</p>
                    <p>&nbsp;</p>
                    <p>&middot; не размещать на персональной странице информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать законность их размещения;</p>
                    <p>&nbsp;</p>
                    <p>&middot; не нарушать иным образом права интеллектуальной собственности Администрации в отношении Сайта или каких-либо ее элементов, в частности, Пользователь не имеет права копировать, транслировать, рассылать, публиковать, и иным образом распространять и воспроизводить размещенные Администрацией на Сайте материалы (текстовые, графические, аудио-видео) без письменного согласия Администрации;</p>
                    <p>&nbsp;</p>
                    <p>&middot; хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в результате общения с другими Пользователями и иного использования Сайта персональные данные (включая, но не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты, мессенджерами, социальными сетями, паспортными данными, банковской информацией и т.д.) и информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять резервное копирование важной для Пользователя хранящейся на его персональной странице информации;</p>
                    <p>&nbsp;</p>
                    <p>&middot; по требованию Администрации в связи исполнением настоящих Правил подтвердить свои учетные данные, включающие адрес электронной почты, иные данные;</p>
                    <p>&nbsp;</p>
                    <p>&middot; уведомлять Администрацию обо всех случаях совершения на Сайте в отношении Пользователя действий, которые могут быть расценены как оскорбительные, унижающие, дискредитирующие и т.п.;</p>
                    <p>&nbsp;</p>
                    <p>&middot; соблюдать иные требования и выполнять иные обязательства, предусмотренные настоящими Правилами.</p>
                    <p>&nbsp;</p>
                    <p>4.1.3. Пользователю при использовании Сайта запрещается:</p>
                    <p>&nbsp;</p>
                    <p>&middot; регистрироваться в качестве Пользователя от имени или вместо другого лица (&laquo;фальшивый аккаунт&raquo;) или регистрировать группу (объединение) лиц или юридическое лицо в качестве Пользователя. При этом, возможна регистрация от имени и поручению другого лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством РФ;</p>
                    <p>&nbsp;</p>
                    <p>&middot; вводить Пользователей в заблуждение относительно своей личности, используя логин и пароль другого зарегистрированного Пользователя;</p>
                    <p>&nbsp;</p>
                    <p>&middot; искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или организациями;</p>
                    <p>&nbsp;</p>
                    <p>&middot; загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; нарушает права несовершеннолетних лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних или гипертекстовые ссылки на Интернет-сайты, содержащие такие материалы;</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит сцены бесчеловечного обращения с животными;</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит описание средств и способов суицида, любое подстрекательство к его совершению;</p>
                    <p>&nbsp;</p>
                    <p>&middot; связанна с оккультной тематикой и деятельностью (магия, гадания, сатанизм, привороты, заговоры, колдовство, ритуалы, астрология, гороскопы и т.п.);</p>
                    <p>&nbsp;</p>
                    <p>&middot; пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит экстремистские материалы;</p>
                    <p>&nbsp;</p>
                    <p>&middot; пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; содержит рекламу или описывает привлекательность употребления наркотических веществ, рецепты их изготовления и советы по употреблению;</p>
                    <p>&nbsp;</p>
                    <p>&middot; носит мошеннический характер;</p>
                    <p>&nbsp;</p>
                    <p>&middot; нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.</p>
                    <p>&nbsp;</p>
                    <p>&middot; незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей и третьих лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта или персональных страниц Пользователей;</p>
                    <p>&nbsp;</p>
                    <p>&middot; загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы и другие вредоносные программы;</p>
                    <p>&nbsp;</p>
                    <p>&middot; использовать без специального разрешения Администрации автоматизированные скрипты (программы) для сбора информации на Сайте и/или взаимодействия с Сайтом и его функционалом;</p>
                    <p>&nbsp;</p>
                    <p>&middot; любым способом, в том числе, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять незаконные сбор и обработку персональных данных других лиц;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный Администрацией, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администрацией;</p>
                    <p>&nbsp;</p>
                    <p>&middot; воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать доступ к использованию Сайта;</p>
                    <p>&nbsp;</p>
                    <p>&middot; размещать коммерческую и политическую рекламу;</p>
                    <p>&nbsp;</p>
                    <p>&middot; размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Сайте;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять самостоятельно либо от имени других Пользователей с использованием функционала их аккаунта, в том числе путем введения в заблуждение или с обещанием поощрения, с использованием любых программ, автоматизированных скриптов, массовые однотипные действия, направленные на искусственное повышение показателей счётчиков Сайта;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять сбор учетных данных других Пользователей;</p>
                    <p>&nbsp;</p>
                    <p>&middot; использовать любые автоматические или автоматизированные средства для сбора информации, размещенной на Сайте;</p>
                    <p>&nbsp;</p>
                    <p>&middot; размещать, воспроизводить, перерабатывать, распространять, опубликовывать на Сайте, доводить до всеобщего сведения, передавать, продавать или иным способом использовать целиком или по частям контент Администрации, Пользователя и третьих лиц, являющийся объектом авторских и иных исключительных прав, без их предварительного разрешения, кроме случаев, установленных настоящими Правилами, действующим законодательством РФ, а также случаев, когда правообладатель явным образом выразил свое согласие на свободное использование собственного контента любым лицом. Загружая музыку, видео или иной контент на Сайт, а также размещая контент на Сайте иным образом, Пользователь подтверждает, что обладает всеми необходимыми для этого правами, включая право на доведение до всеобщего сведения. На Сайте не разрешается размещать контент, если Пользователь не имеет для этого необходимых прав;</p>
                    <p>&nbsp;</p>
                    <p>&middot; размещать на Сайте персональные данные, в том числе контактные данные, других Пользователей или иных лиц без их предварительного согласия;</p>
                    <p>&nbsp;</p>
                    <p>&middot; регистрировать более одного аккаунта Пользователя одним и тем же лицом;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять действия, направленные на дестабилизацию функционирования Сайта, осуществлять попытки несанкционированного доступа к управлению Сайтом или их закрытым разделам (в том числе к разделам, доступ к которым разрешен только Администрации), а также осуществлять любые иные аналогичные действия;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять несанкционированный доступ к аккаунтам иных Пользователей путем подборки или введения пароля, а также предпринимать попытки такого доступа;</p>
                    <p>&nbsp;</p>
                    <p>&middot; осуществлять рассылку спама &ndash; массовую рассылку коммерческой, политической, рекламной и иной информации (в том числе гиперссылок, ведущих на интернет-сайты с такой информацией и/или на интернет-сайты, содержащие вредоносное программное обеспечение) в личных сообщениях, комментариях, сообщениях на форумах, персональных страницах Пользователей или осуществляя иные действия, направленные на распространение такой информации, если Пользователи не выражали своего согласия на получение такого рода информации;</p>
                    <p>&nbsp;</p>
                    <p>4.2. В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе, по размещению информации или предоставлению доступа, Администрация рекомендует воздержаться от осуществления последних.</p>
                    <p>&nbsp;</p>
                    <p>4.3. Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.</p>
                    <p>&nbsp;</p>
                    <p>4.4. В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования, проинформировав об этом Администрацию Сайта в установленном порядке.</p>
                    <p>&nbsp;</p>
                    <p>5. Регистрация на Cublytics.ru</p>
                    <p>&nbsp;</p>
                    <p>5.1. Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: cublytics.ru</p>
                    <p>&nbsp;</p>
                    <p>5.2. При регистрации на Сайте Пользователь обязан предоставить Администрации необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной почты либо комбинацию из латинских букв и цифр для входа на Сайт), либо, при регистрации через сторонний сервис, даёт своё соглашение на получение необходимой информации. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.</p>
                    <p>&nbsp;</p>
                    <p>5.3. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству РФ предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.</p>
                    <p>&nbsp;</p>
                    <p>5.4. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством РФ. Администрация обрабатывает персональные данные Пользователя в целях предоставления доступа к использованию функционала Сайта; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и разделы Сайта. Администрация принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Пользователю доступа к его использованию. Администрация вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства РФ (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством РФ по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством РФ случаях. Поскольку Администрация осуществляет обработку персональных данных Пользователя в целях исполнения настоящих Правил, в силу положений законодательства о персональных данных согласие Пользователя на обработку его персональных данных не требуется.</p>
                    <p>&nbsp;</p>
                    <p>6. Интеллектуальная собственность</p>
                    <p>&nbsp;</p>
                    <p>6.1. Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и т.п. (далее &ndash; контент), являются объектами исключительных прав Администрации, Пользователей Сайта и других правообладателей.</p>
                    <p>&nbsp;</p>
                    <p>6.2. Кроме случаев, установленных настоящими Правилами, а также действующим законодательством РФ, никакой контент не может быть скопирован (воспроизведен), переработан, распространен, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя.</p>
                    <p>&nbsp;</p>
                    <p>6.3. Пользователь, размещая на Сайте контент, предоставляет другим пользователям неисключительное право на его использование путем просмотра, воспроизведения (в том числе копирования), переработку (в том числе на распечатку копий) и иные права исключительно с целью личного некоммерческого использования, кроме случаев, когда такое использование причиняет или может причинить вред охраняемым законом интересам правообладателя.</p>
                    <p>&nbsp;</p>
                    <p>6.4. Использование Пользователем контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном виде.</p>
                    <p>&nbsp;</p>
                    <p>6.5. Пользователь предоставляет Администрации неисключительное право использовать на безвозмездной основе размещенный на Сайте и принадлежащий ему на законных основаниях контент в целях обеспечения Администрацией функционирования Сайта в объеме, определяемом функционалом и архитектурой Сайта. Указанное неисключительное право предоставляется на срок размещения контента на Сайте, включает право переработки контента путем размещения и для последующего показа совместно с контентом и/или с его использованием контента рекламной информации и распространяет свое действие на территории стран всего мира. Администрация вправе передавать права, указанные в настоящем пункте третьим лицам.</p>
                    <p>&nbsp;</p>
                    <p>6.6. Если Пользователь удаляет свой контент с Сайта, неисключительное право, упомянутое в п. 7.5. настоящих Правил, будет автоматически отозвано, однако Администрация оставляет за собой право в случае необходимости, обусловленной техническими особенностями работы Сайта, сохранять архивные копии пользовательского контента в течение необходимого срока.</p>
                    <p>&nbsp;</p>
                    <p>6.7. Кроме своего собственного контента, Пользователь не вправе загружать или иным образом доводить до всеобщего сведения (публиковать на Сайте) контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности при отсутствии явным образом выраженного согласия правообладателя на такие действия.</p>
                    <p>&nbsp;</p>
                    <p>6.8. Любое использование Сайта или контента, кроме разрешенного в настоящих Правилах или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено.</p>
                    <p>&nbsp;</p>
                    <p>6.9. Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах не может быть рассмотрено как передача исключительных прав на контент.</p>
                    <p>&nbsp;</p>
                    <p>7. Ответственность</p>
                    <p>&nbsp;</p>
                    <p>7.1. Пользователь гарантирует, что размещение на Сайте контента, иных охраняемых законом результатов интеллектуальной деятельности, их частей или копий, а также иных материалов не нарушает чьих-либо прав и законных интересов. В случае поступления претензий третьих лиц в связи с нарушением условий настоящих Правил в части размещения информации и/или контента третьих лиц, Администрация вправе осуществить передачу в рамках, допустимых законом, доступной ему контактной информации Пользователя лицам, обратившимся с претензиями, в целях урегулирования возникших разногласий.</p>
                    <p>&nbsp;</p>
                    <p>7.2. Пользователь несет личную ответственность за любой контент или информацию, которые он загружает или иным образом доводит до всеобщего сведения (публикует) на Сайте или с его помощью. Пользователь не имеет права загружать, передавать или публиковать контент на Сайте, если он не обладает соответствующими правами на совершение таких действий, приобретенными или переданными ему в соответствии с законодательством РФ.</p>
                    <p>&nbsp;</p>
                    <p>7.3. Пользователь несет персональную ответственность за любой контент или иную информацию, которые он размещает на сайте или иным образом доводит до всеобщего сведения на Сайте или с его помощью. Пользователь обязуется самостоятельно разрешать претензии третьих лиц, связанные с неправомерным размещением контента и информации на Сайте.</p>
                    <p>&nbsp;</p>
                    <p>7.4. Администрация не несет ответственности за возможные противоправные действия Пользователя или третьих лиц при использовании Сайта. Администрация не несет ответственности за высказывания Пользователя, опубликованные на Сайте. Администрация не несет ответственности за поведение Пользователя на Сайте, неуважительное отношение к другим Пользователям. Администрация не несет ответственности за утерю Пользователем возможности доступа к своему аккаунту на Сайт (утрату логина, пароля, иной информации, необходимой для использования аккаунта или персональной страницы). Администрация не несет ответственности за неполное, неточное, некорректное указание Пользователем своих данных при создании аккаунта и персональной страницы.</p>
                    <p>&nbsp;</p>
                    <p>7.5. Администрация не несет ответственности за возникновение прямого или косвенного ущерба и упущенной выгоды Пользователя либо иных третьих лиц, причиненного в результате:</p>
                    <p>&nbsp;</p>
                    <p>&middot; использования либо невозможности использования Сайта;</p>
                    <p>&nbsp;</p>
                    <p>&middot; несанкционированного доступа любых третьих лиц к личной информации Пользователя, включая аккаунт и персональную страницу Пользователя;</p>
                    <p>&nbsp;</p>
                    <p>&middot; заявления или поведения любого третьего лица на Сайте;</p>
                    <p>&nbsp;</p>
                    <p>&middot; удаления аккаунта, контента или прекращением функционирования определенного элемента Сайта в целом.</p>
                    <p>&nbsp;</p>
                    <p>7.6. Претензии Пользователя, направляемые Администрации, принимаются и рассматриваются при условии указания актуальных и достоверных данных Пользователя, указанных в аккаунте. Принимая во внимание возможное наличие аккаунтов со схожими учетными данными, Администрация вправе требовать предоставления дополнительных сведений и информации, в том числе в отношении аккаунта Пользователя, позволяющих определить, в связи с каким аккаунтом поступила претензия, или установить принадлежность аккаунта лицу, обратившемуся с претензией.</p>
                    <p>&nbsp;</p>
                    <p>7.7. Сайт и его функционал, включая все скрипты, приложения, контент и оформление Сайта поставляются &laquo;как есть&raquo;. Администрация отказывается от всяких гарантий того, что Сайт или его функционал могут подходить или не подходить для конкретных целей и не обещает никаких специфических результатов от использования Сайта и/или его функционала.</p>
                    <p>&nbsp;</p>
                    <p>7.8. Используя Сайт, Пользователь соглашается с тем, что скачивает с Сайта или с его помощью любые материалы на свой собственный риск и несет личную ответственность за возможные последствия использования указанных материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред.</p>
                    <p>&nbsp;</p>
                    <p>7.9. Пользователи несут ответственность за собственные действия в связи с созданием и размещением информации на персональной странице Сайта, а также персональных страницах других Пользователей, в иных разделах Сайта в соответствии с действующим законодательством РФ. Нарушение настоящих Правил и норм действующего законодательства РФ влечет за собой гражданско-правовую, административную и уголовную ответственность виновного лица.</p>
                    <p>&nbsp;</p>
                    <p>7.10. Администрация Сайта предоставляет техническую возможность его использования, не участвует в формировании содержания персональных страниц Пользователей.</p>
                    <p>&nbsp;</p>
                    <p>7.11. Удаление персональной страницы Пользователя означает автоматическое удаление всей информации, размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте. После удаления персональной страницы Пользователь теряет доступ к использованию Сайта.</p>
                    <p>&nbsp;</p>
                    <p>7.12. Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.</p>
                    <p>&nbsp;</p>
                    <p>7.13. Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его функционала, а также рекламировать собственную деятельность.</p>
                    <p>&nbsp;</p>
                    <p>7.14. Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним и действуют в течение неопределенного срока.</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
