{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {{ include('components/header_dashboard.html.twig') }}

    <div id="app">
        <app></app>
    </div>
{% endblock %}
