###
# Данный файл лишь хранилище комманд для cron
# Использование:
# 1. Добавить комманды
# 2. Скопировать комманды в crontab -e
###

0 * * * * /usr/bin/php -f /var/www/cublytics.ru/bin/console app:coub-update > /var/www/cyblytics.ru/docker/logs/crons/coub-update.txt