{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="page">
        <div class="container col-md-6" style="margin-top: 100px">
            {% if error %}
                <div class="alert alert-danger text-center">{{ error.message }}</div>
            {% endif %}
        </div>
    </div>

    {{ include('components/footer.html.twig') }}
{% endblock %}
