<div class="header header-dashboard">
    <div class="logo"></div>
    <div class="top-menu">
        <div class="top-left links">
            <a href="/" class="top-menu-link">Главная</a>
            <a href="/about" class="top-menu-link">Где я?</a>
        </div>
        <div class="top-right links">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="top-menu-link">{{ app.user.username }}</span>
                <a href="{{ path('app_logout') }}" class="top-menu-link">Выйти</a>
            {% else %}
                <a href="{{ path('app_login_coub') }}" class="top-menu-link">Войти</a>
            {% endif %}
        </div>
    </div>
</div>
